/* 全体 */
* {
  font-family: "游明朝体", "Yu Mincho", "YuMincho", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  line-height: 1.3;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  color: #333333;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 1000px;
  max-width: 100%;
}

h1,h2,h3,p {
  margin: 0px;
}

.sp-br {
  display: none;
}

.pc-br {
  display: block;
}

/* ここからheader */
header {
  background-color: black;
  height: 60px;
}

header p {
  color: orange;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  padding-top: 20px;
}
/* headerここまで */
/* ここからmain */

/* top これからの時代の生き方 */
.top {
  height: 780px;
  background-image: url(../images/bg_top.jpg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  text-align: center;
  font-weight: 900;
  position: relative;
  padding-bottom: 10px;
}

/* テキスト全体 */
.title-txts {
  padding-top: 180px;
}

/* IKEDA TAKAMASA ONLINE */
.presenter-name {
  font-size: 26px;
}

/* これからの時代の生き方 */
.top h1 {
  font-size: 90px;
}

/* 〜2021年のために「今」 */
.top h2 {
  font-size: 26px;
  padding-bottom: 30px;
}

/* コロナ緊急特別 */
.title-corona {
  background-color: black;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 1.6px;
  width: 830px;
  border-radius: 20px;
  padding-top: 2px;
}

/* bg bnr */
.bg_bnr {
  display: none;
}

/* mainここまで */

/* ここからsection */
/* content1全体 */
.content1 {
  overflow: hidden;
  height: 2640px;
  background-color: black;
  background-image: url(../images/content1_bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 140px;
  color: #ffffff;
}

/* 動画 */
.movie {
  position: relative;
}

.movie iframe {
  position: absolute;
  top: 140px;
  right: 0;
  width: 420px;
  max-width: 100%
}

/* タイトル */
.content-title {
  font-size: 56px;
  padding-bottom: 80px;
}

/* タイトル以外テキスト全体 */
section p {
  font-size: 18px;
  padding-bottom: 60px;
  line-height: 1.0;
}

/* content2全体 */
.content2 {
  overflow: hidden;
  height: 2660px;
  padding: 130px 0;
  background-color: black;
  background-image: url(../images/content2_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.content2 span {
  font-size: 36px;
  color: #f3e458;
}

/* content3全体 */
.content3 {
  overflow: hidden;
  height: 3300px;
  padding-top: 120px;
  background-image: url(../images/content3_bg.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;  
}

.content3 span {
  font-size: 36px;
}

/* サイン画像 */
.sign-white {
  text-align: right;
}

.sign-white img {
  width: 202px;
}

/* sectionここまで */
/* ここからprofile */

/* profile全体 */
.profile {
  height: 910px;
  padding-top: 80px;
  position: relative;
}

.profile-flex {
  display: flex;
}

/* 講師の写真 */
.teacher-img {
  width: 230px;
}

/* 講師プロフィールテキスト */
.profile-txts {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  width: 750px;
  padding-bottom: 50px;
}
.profile-txts p {
  font-family: sans-serif;
}

/* 書籍の画像 */
.books:before {
  content: "";
  position: absolute;
  top: 628px;
  left: 0;
  height: 238px;
  width: 100%;
  background: rgb(0, 0, 0);
  z-index: -1;
}

.book {
  text-align: center;
}
/* profileここまで */
/* ここからcompany */

/* company全体 */
.company {
  height: 1600px;
  padding-top: 70px;
  padding-bottom: 120px;
}

.company p,.company a,table td,table th,table span,table li {
  font-family: sans-serif;
  max-width: 100%;
} 

.company-info {
  padding-bottom: 60px;
}

/* セミナー開催概要 table */
table {
  width: 980px;
  max-width: 100%;
  border-collapse: collapse;
  border: 5px solid #967508;
  border-spacing: 0;
}

tbody tr {
  border: 1px dotted #333333;
}

tbody th,tbody td {
  border-style: dotted;
}

.noborder {
  border: 0px none;
}

table td,table th {
  max-width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody th {
  width: 130px;
  font-size: 15px;
  padding: 10px;
  line-height: 1.5;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.seminar-detail tbody td {
  text-align: left;
  vertical-align: middle;
}

tbody td {
  font-size: 14px;
}

/* タイトル */
thead {
  background-color: #967508;
}

thead p {
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  padding: 5px 0 5px 40px;
}

/* table top */
#table_top {
  padding: 10px 0 10px 60px;
}

#table_top img {
  width: 60px;
}

/* 日程 */
.border_btm {
  border-bottom: 1px dotted #333333;
  padding-bottom: 15px;
}

#day {
  padding: 15px 0;
}

#day p {
  text-align: center;
  font-size: 16px;
}

.day_btm {
  padding-top: 15px;
}

.day-right {
  text-align: center;
}

/* 時間 */
#td_space td {
  padding: 5px 0 5px 40px;
} 

/* 価格 */
.price-flex {
  display: flex;
  justify-content: start;
}

.price-left {
  margin: 0;
  padding-top: 20px;
  padding-right: 10px;
  font-weight: 600;
  font-size: 16px;
}

.cancel {
  position: relative;
  margin: 0;
}

.cancel:before {
  content: "";
  display: block;
  width: 100px;
  height: 1.5px;
  background-color: red;
  position: absolute;
  top: 50px;
  left: 0;
  transform: rotate(15deg);
}

.cancel:after {
  content: "";
  display: block;
  width: 1.5px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 40px;
  transform: rotate(75deg);
}

.td-small {
  font-size: 12px;
}

.price-arrow {
  margin: 0;
  padding-right: 10px;
  padding-top: 10px;
}

.price-right {
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
}

.price-right p {
  color: red;
  padding-bottom: 10px;
}

.price_big {
  font-size: 22px;
}

.td-redbg {
  background-color: red;
  color: #ffffff;
  border-radius: 20px;
  padding: 3px 20px;
}

.arrow_sp {
  display: none;
}

/* 配信方法 */
.zoom-flex {
  display: flex;
  justify-content: start;
}

.zoom-flex img {
  margin: 0;
  height: 50px;
}

.zoom-flex p {
  padding-top: 20px;
  padding-left: 10px;
}

/* お支払い方法 */
.pay {
  display: flex;
  justify-content: start;
}

.pay p {
  padding-top: 5px;
}

.pay img {
  margin: 0 0 0 20px;
}

/* 領収書の発行 */
.table-font p,table li {
  line-height: 1.5;
}

/* お申込みの流れ */
.th-info {
  display: inline-block;
  background-color: #967508;
  color: #ffffff;
  padding: 20px;
  font-weight: 600;
}

.list_flex {
  display: flex;
}

ol {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

ol li {
  list-style: none;
}

.td-number {
  display: inline-block;
  color: #ffffff;
  background-color: black;
  padding: 2px 8px;
  font-size: 16px;
  font-weight: 600;
}

.info-arrow {
  font-size: 16px;
  padding-left: 5px;
}

#info_2 {
  padding-top: 34px;
}

#info_2sp {
  padding-top: 34px;
}

.info-big {
  font-size: 15px;
  font-weight: 600;
  margin-left: -10px;
}

.info_3 {
  padding-top: 20px;
}

#number_3 {
  margin-top: 200px;
}

.info_4 {
  padding-top: 45px;
  padding-bottom: 10px;
  display: flex;
  justify-content: start;
}

.info_4 img {
  height: 50px;
}

.info_4 p {
  padding-left: 20px;
}
 
/* 主催・お問合せ */
.info-form {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* 申し込みボタン */
.form-btn {
  width: 560px;
  max-width: 100%;
  text-align: center;
}

.form-btn:hover {
  opacity: 0.9;
  transition: 0.3s;
}

/* companyここまで */
/* ここからfooter */
.footer-wrapper {
  height: 100%;
  background-color: #344A67;
  overflow: hidden;
  padding-bottom: 20px;
}

.footer-wrapper a {
  font-family: sans-serif;
  color: #333333;
}

.footer-wrapper a:hover {
  text-decoration: underline;
}

.footer {
  overflow: hidden;
  width: 1010px;
  margin: 10px auto 20px;
  padding: 20px 0 10px 0;
}

.footer-bottom-wrapper {
  overflow: hidden;
  background-color: #ffffff;
}

.footer-bottom {
  overflow: hidden;
  width: 1000px;
  height: 37px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 20px 0 10px;
  font-size: 11px;
}

ul.footer-menu {
  overflow: hidden;
  float: left;
}

ul.footer-menu li {
  float: left;
  margin-right: 15px;
  counter-reset: #333333;
}

.copyright {
  float: right;
  font-size: 10px;
  color: #929292;
  text-align: center;
  font-family: 'Muli', sans-serif;
}